<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="UTF-8">
        <title>信大軽音コマ取り</title>
        <script src="./Source/getid.js"></script>
        <script src="./Source/base.js"></script>
        <script src="./Source/sha256.js"></script>
        <link href="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.css" rel="stylesheet">
        <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
        <script src="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.js"></script>

        <script>
            $(document).ready(function(){
                liff.init({
                    liffId: LIFF_ID
                });
                $('#btn-post').on('click', function(event){
                    $("input[required]:invalid").each(function () {
                        $(this).css("background-color", "red"); // ここ改良
                        event.preventDefault(); 
                        alert("必須フィールドを入力してください。");
                    });

                    $("input[required]:valid").each(function () {
                        $(this).css("background-color", "white");
                        event.preventDefault();
                        const accessToken = liff.getAccessToken();
                        var timestamp = getTimestamp();
                        var pass = $('input[name=password]').val();

                        var formData ={
                            'accessToken':accessToken,
                            'timestamp':timestamp,
                            'day':$('#day').val(),
                            'time':$('#time').val(),
                            'part':$('#part').val(),
                            'otherpart':$('input:radio[name="otherpart"]:checked').val(),
                            'regist_name':$('#regist_name').val(),
                            'remark':$('#remark').val(),
                            'password':hex_sha256(pass)
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/booking',
                            data: JSON.stringify(formData),
                            contentType: 'application/json',
                            success: function(response) {
                                console.log(response);
                                alert('予約に成功しました');
                            },
                            error: function(error) {
                                console.error(error);
                                alert('予約に失敗しました');
                            }
                        });
                    });
                });
            });
        </script>
    </head>
    <body>

        <h1>信大軽音 予約フォーム</h1>

        <div class="container">
            <table>
            <tr>
                <td class="menu">日付:</td>
                <td><input type="date" name="day" id="day" required></td>
            </tr>
            <tr>
                <td class="menu">時間:</td>
                <td><select id="time" name="time" required>
                    <option hidden>選択して下さい</option>
                </select></td>
            </tr>
            <tr>
                <td class="menu">登録名：</td>
                <td><input type="text" name="regist_name" id="regist_name" maxlength="70" placeholder="例：ギター個人練習" required></td>
            </tr>
            <tr>
                <td class="menu">パート:</td>
                <td><select id="part" multiple="multiple" name="part[]" required></select></td>
            </tr>
            <tr>
                <td class="menu">他パート参加：</td>
                <td>
                    <input type="radio" name="otherpart" value="1">あり
                    <input type="radio" name="otherpart" value="0" checked>なし
                </td>
            </tr>
            <tr>
                <td class="menu">備考：</td>
                <td><textarea id="remark"></textarea></td>
            </tr>
            <tr>
                <td class="menu">パスワード：</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td></td>
                <td><button id="btn-post" type="button">予約</td>
            </tr>
            </table>
        </div>
        <script>
            $(document).ready(function(){
                var today = new Date();
                var TodayValue = formatDate(today);

                var MaxDay = new Date(today);
                MaxDay.setDate(MaxDay.getDate() + 13);
                var MaxDayValue = formatDate(MaxDay);

                // $("#day").val(TodayValue); // 日付
                $("#day").attr({
                    "max": MaxDayValue,
                    "min": TodayValue
                });

                $.get("/time.csv", function(data){ // 時間
                    time_list = data.split(',');
                    for(var i = 0; i < time_list.length; i++) {
                        $('#time').append($('<option>',{
                            value: i,
                            text: time_list[i]
                        }));
                    };
                });

                $.get("/part.csv", function(data){ // パート
                    var lines = data.split('\n');
                    var part_list = [];
                    lines.forEach(function(line){
                        var values = line.split(',');
                        part_list.push(values);
                    });
                    for(var i = 0; i < part_list[0].length; i++){
                        $('#part').append($('<option>',{
                            value: part_list[1][i],
                            text: part_list[0][i]
                        }))
                    };
                    $('#part').multipleSelect({
                        formatSelectAll: function() {
                            return 'バンド練習';
                        },
                        formatAllSelected: function() {
                            return 'バンド練習';
                        },
                        placeholder: '使用パートを選択してください'
                    });
                });

                $('#day').on('input', function(){ // 日付の選択から選択できる時間を動的に変更
                    var day_select = $(this).val();
                    $('#time>option').prop("disabled", false); // disabledのリセット

                    $.ajax({
                        url: '/get_time',
                        method: 'GET',
                        data: {'day_select': day_select},
                        success: function(response) {
                            response.time_list.forEach(function(times){
                                $('#time>option').eq(times).prop("disabled", true);
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                });
                $('#time').on('input', function(){ // 日付の選択から選択できる時間を動的に変更
                    var day_select = $("#day").val();
                    var time_select = $(this).val();
                    $('#part>option').prop("disabled", false); // disabledのリセット

                    $.ajax({
                        url: '/get_part',
                        method: 'GET',
                        data: {'day_select': day_select,
                               'time_select': time_select
                            },
                        success: function(response) {
                            response.part_list.forEach(function(times){
                                $('#time>option').eq(times).prop("disabled", true);
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                });

            });
        </script>
    </body>

</html>
